{{!-- All sharing icons from Font Awesome CDN.  Boxes with colors hard-coded in CSS --}}
<div class="share">
   <a class="share-item share-facebook"
       href="https://www.facebook.com/sharer.php?u={{url absolute="true"}}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
   <a class="share-item share-twitter"
       href="https://twitter.com/intent/tweet?url={{url absolute="true"}}&text={{encode title}}" target="_blank"><i
           class="fa fa-twitter" aria-hidden="true"></i></a>
   <a class="share-item share-pinterest"
       href="https://pinterest.com/pin/create/button/?url={{url absolute="true"}}&media={{featured_image}}&description={{encode title}}"
       target="_blank" data-pin-do="none"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
   <a class="share-item share-linkedin"
       href="https://www.linkedin.com/shareArticle?mini=true&url={{url absolute="true"}}&title={{encode title}}"
       target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
   <a class="share-item share-reddit"
       href="https://reddit.com/submit?url={{url absolute="true"}}&title={{encode title}}" target="_blank"><i
           class="fa fa-reddit-alien" aria-hidden="true"></i></a>
   <a class="share-item share-tumblr"
       href="https://www.tumblr.com/widgets/share/tool?canonicalUrl={{url absolute="true"}}&title={{encode title}}"
       target="_blank"><i class="fa fa-tumblr" aria-hidden="true"></i></a>
   <a class="share-item share-pocket u-hover-item" href="https://getpocket.com/edit?url={{url absolute="true"}}"
       target="_blank"><i class="fa fa-get-pocket" aria-hidden="true"></i></a>
</div>
